video, input {
	max-width: 80vw;
	max-height: 90vh;
	display: inline-block;
}

input {
	display: none;
}

button {
	padding: 0.5vh;
}

#note {
	margin:0;
	height: 3vh;
}

body {
	margin:0;
	margin-left: 0.5vw;
	background-color: #d5d6e6;
	overflow-x: hidden;
}

#mainView {
	display: block;
	margin:0;
}

#controls {
	margin-bottom: 2px;
}

input {
    width: 100%;
	height: 3vh;
}

#message {
	height: 2.5vh;
	display:none;
}

.info {
    background-color: aqua;            
}

.error {
    background-color: red;
    color: white;
	display:block;
}


#chatBox {
	max-width: 18.5vw;
	top: 0vh;
	margin: 0;
	display: none;
}

#currentTime,#currentSpeed,#chatLineup {
	height: 3vh;
	margin: 0;
	margin-bottom:0.5vh;
}

#chat {
	visibility: hidden;
	overflow-y: scroll;
}

.msgDiv {
	margin-bottom: 2px;
}

.msgSender,.msgTime {
	color: blue;
	font-size: 1rem;
	margin: 0;
	display:inline;
}

.msgTime {
	cursor: pointer;
}

.msgContent {
	font-size: 1.25rem;
	margin:0;
	 word-wrap: break-word;
}

.highlight {
	background-color: yellow;
}


::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-thumb {
  background: #777777;
  border: 0px none #000000;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: #d5d6e6;
  border: 0px none #000000;
  border-radius: 53px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}